@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.angry-asteroid {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 10%;
    top: 10%;
    -webkit-animation: angry-asteroid-rotate 7s ease-in-out infinite alternate;
    animation: angry-asteroid-rotate 7s ease-in-out infinite alternate;
}

@-webkit-keyframes angry-asteroid-rotate {
    
    0% {
        -webkit-transform: rotate(0deg);
    } 
    
    100% {
        -webkit-transform: rotate(360deg)
    }

}

@keyframes angry-asteroid-rotate {
    
    0% {
        transform: rotate(0deg);
    } 
    
    100% {
        transform: rotate(360deg)
    }

}

.awesome-ship {
    position: absolute;
    width: 150px;
    height: 150px;
    left: calc(50% - 75px);
    top: calc(50% - 75px);
    -webkit-animation: ship-moving 5s ease-in-out infinite alternate;
    animation: ship-moving 5s ease-in-out infinite alternate;
}

@-webkit-keyframes ship-moving {
    
    0% {
        -webkit-transform: translate(0,0) rotate(0deg);
    }
    
    10% {
        -webkit-transform: translate(40px,50px) rotate(25deg);
    }
    
    60% {
        -webkit-transform: translate(100px,100px) rotate(27deg);
    }
    
    80% {
        -webkit-transform: translate(-400px,-60px) rotate(140deg);
    }
    
    100% {
        -webkit-transform: translate(400px, 200px) rotate(750deg);
    }
    
}


@keyframes ship-moving {
    
    0% {
        transform: translate(0,0) rotate(0deg);
    }
    
    10% {
        transform: translate(40px,50px) rotate(25deg);
    }
    
    60% {
        transform: translate(100px,100px) rotate(27deg);
    }
    
    80% {
        transform: translate(-400px,-60px) rotate(140deg);
    }
    
    100% {
        transform: translate(400px, 200px) rotate(750deg);
    }
    
}

.stars {
    background-image: url(../images/stars.svg);
    background-color: black;
    transform: scale(1,1);
    width: 100%;
    height: 100vh; /* vh=viewport height */
    -webkit-animation: star-zoom 5s ease-in-out infinite alternate;
    animation: star-zoom 5s ease-in-out infinite alternate;
}

@-webkit-keyframes star-zoom {
    
    0% {
        -webkit-transform: scale(1,1);
    }
    
    100% {
        -webkit-transform: scale(1.2,1.2);
    }
}

@keyframes star-zoom {
    
    0% {
        transform: scale(1,1);
    }
    
    100% {
        transform: scale(1.2,1.2);
    }
}

.bullet {
    background-color: #93FF15;
    height: 4px;
    width: 10px;
    left: calc(50% - 5px);
    top: calc(50% - 2px);
    position: absolute;
    -webkit-animation: bullet 10s ease-in-out infinite;
    animation: bullet 10s ease-in-out infinite;
}

@-webkit-keyframes bullet {
    
    0% {
        -webkit-transform: translate(0,0) rotate(0deg);
    }
    
    100% {
        -webkit-transform: translate(-45000px,-33000px) rotate(25deg);
    }
}

@keyframes bullet {
    
    0% {
        transform: translate(0,0) rotate(0deg);
    }
    
    100% {
        transform: translate(-45000px,-33000px) rotate(25deg);
    }
    
}